<h2 class="heroes-list__title">List of heroes</h2>

<a routerLink="/heroes/new" class="heroes-list__new-btn">+ New Hero</a>

<ul class="heroes-list__items">
  @for (hero of $heroes(); track hero.id) {
    <li class="heroes-list__item">
      <a [routerLink]="['/heroes/detail', hero.id]" class="heroes-list__link"> {{ hero.superhero }} </a>
      <a [routerLink]="['/heroes/edit', hero.id]" class="heroes-list__edit-link"> Edit </a>
    </li>
  } @empty {
    <li class="heroes-list__empty">No heroes available.</li>
  }
</ul>
