<h2>Crear nuevo héroe</h2>

<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">

    <div>
        <label>ID (unique string, e.g. "batman"):</label>
        <input type="text" formControlName="id" />
    </div>

    <div>
        <label>Superhero:</label>
        <input type="text" formControlName="superhero" />
    </div>

    <div>
        <label>Publisher:</label>
        <input type="text" formControlName="publisher" />
    </div>

    <div>
        <label>Alter Ego:</label>
        <input type="text" formControlName="alter_ego" />
    </div>

    <div>
        <label>First Appearance:</label>
        <input type="text" formControlName="first_appearance" />
    </div>

    <div>
        <label>Image (name without extension, e.g. "dc-batman"):</label>
        <input type="text" formControlName="img" />
    </div>

    <div>
        <label>Alternative Image (optional):</label>
        <input type="text" formControlName="alt_img" />
    </div>

    <button type="submit" [disabled]="heroForm.invalid">Save</button>
    
</form>
